.field--name-user-image > img {
	width: 150px;
	height: 150px;
	border-radius: 50px;
}

.field--name-image > img {
	width: 150px;
	height: 150px;
	border-radius: 50px;
}

.field--name-created {
    font-size: 25px;
}

.field--name-phone {
    font-size: 25px;
}

h1.title {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 15px;
}

h1.title::after {
    content: "\1F4E9";
    margin-left: 10px;
}


body[data-once^="dropbutton-click"] h1.title::after {
    display: none;
}

li.nav-link {
    float: right;
}

li.nav-link > a {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    padding: 0px 20px;
    background-color: #0079C0 !important;
    border-color: white;
}

li.nav-link > a:hover {
    color: lightgreen !important;
    border-color: lightgreen;
    border-width: 1px;
}

div.text-slogan {
    font-size: 40px;
}

div.text-slogan::after {
    content: "\1F447";
    margin-left: 10px;
    vertical-align: sub;
} 

table {
    margin-top: 15px;
}

thead {
    text-align: center;
}

td {
    min-width: 100px;
}

td > a {
    color: black !important;
}

form {
    width: 60%;
    margin: 0 auto;
}

small.description {
    color: white !important;
    font-size: 20px;
    float: right;
}

div[data-drupal-field-elements^="date-time"] ~ small.description {
    display: none;
}

small br {
    display: inline;
    content: ' ';
    padding: 0 3px;
}

button[data-drupal-selector^="edit-submit"] {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

button[data-drupal-selector^="edit-submit"]::before {
    content: "\1F58A";
    margin-left: 10px;
    margin-top: 3px;
    opacity: 0;
} 

button[data-drupal-selector^="edit-submit"]::after {
    content: "\1F58A";
    margin-left: 10px;
    margin-top: 3px;
}

.dropbutton-wrapper {
    margin-right: 0px !important;
    padding-right: 0px !important;
}

li.dropbutton-action > a:hover {
    color: lightgreen;
    background-color: #0079C0 !important;
    text-decoration: none;
}

ul.dropbutton {
    border-color: lightgreen;
    border-width: 1px;
}