.process-heading::before {
    display: none;
}

.process-heading::after {
    content: "\270D";
    margin-left: 10px;
}

form.reviewer-reviewform-form {
    width: 50%;
    margin: 0 auto;
}

#edit-phone, #edit-message, #edit-user-image-upload {
    font-size: 25px;
}
#edit-user-image--description {
    color: white !important;
    font-size: 20px;
    float: right;
}

button#edit-submit {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
} 
 
button#edit-submit::after {
    content: "\1F58A";
    margin-left: 10px;
    margin-top: 3px;
} 

button#edit-submit::before {
    content: "\1F58A";
    margin-left: 10px;
    margin-top: 3px;
    opacity: 0;
} 

table.table {
    border-bottom: transparent;
}

thead {
    font-weight: bold;
}

td {
    text-align: center;
}

div.submit-date {
    font-size: 25px;
    margin-top: -10px;
}

div.user-name {
    font-weight: 600;
    text-transform: uppercase;
}

div.user-message {
    text-align: justify;
}

td.feedback-message {
    width: 50%;
}

td.option-links {
    width: 10%;
}

td.option-links > div > button {
    width: 100%;
    margin-bottom: 15px;
}